<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Based on your inputs, your client is using CRM Data</h2>
        <p>Please see this wiki page explaining the process: <a href="https://wiki.tremorvideodsp.com/display/DO/CRM+%28LiveRamp+Reseller%29+Data+Ingestion+Process">Client Data Ingestion Overview (First Party & CRM) - Data Operations - Internal Wiki (tremorvideodsp.com)</a><br>
            <br>
            Here are the steps to ingest CRM data:<br>
            <br>
            &ensp;1.	Have the client sign a data addendum<br>
            <br>
            &ensp;2.	Send this addendum to the data ops team. Include the following in the email:<br>
            &emsp;a)	Agency: <br>
            &emsp;b)	Advertiser: <br>
            &emsp;c)	Campaign Name: <br>
            &emsp;d)	Email that onboarding link should be sent to: <br>
            &emsp;e)	Screen Type(s): <br>
            &emsp;f)	Line-of-Business: <br>
            <br>
            &ensp;3.	An automated email will then be sent to the client instructing them on how to ingest their data<br>
            <br>
            &ensp;4.	Send an email to the data ops alias notifying the team that a client will be pushing segments to our destination account. The email should include:<br>
            &emsp;a.	The client’s name<br>
            &emsp;b.	The segment name(s)
        </p>
</body>
</html>