<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Based on your inputs, your client is using First Party (1P) Data.</h2>
        <h3>Next steps:</h3>
            <p> &ensp;1.	Have the client send their data segment to the Tremor Destination Account accociated to their DMP<br>
            <p> &ensp;2.	Once the client has confirmed the segments have been pushed to the Tremor Destination Account, send an email to the Data Ops alias with the following information:<br>
                &emsp;a. Segment Name</t><br>
                &emsp;b. Segment ID</t><br>
                <br>
            For additional information on the steps above, please review the wiki page:  <a href="https://wiki.tremorvideodsp.com/display/DO/First+Party+%281P%29+Data+Segment+Ingestion+Process">First Party (1P) Data Segment Ingestion Process - Data Operations - Internal Wiki (tremorvideodsp.com)</a></p>
        
</body>
</html>